
.board {
  margin: 20px auto;
  border: 1rem solid rgba(175, 145, 135, 0.35);
  /*background: #af9187;*/
  background: rgba(175, 145, 135, 0.6);
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin: 10px auto;
  padding-bottom: 10px;
  font-size: 60px;
  font-family: 'Unkempt', cursive;
}

h2 {
  text-align: center;
  margin: 10px auto;
  font-size: 40px;
  font-family: 'Freckle Face', cursive;
}

.X{
  font-size: 60px;
  font-weight: bold;
  color : #146227;
  font-family: 'Freckle Face', cursive;
}

.O{
  font-size: 60px;
  font-weight: bold;
  color: #ffbd06 ;
  font-family: 'Freckle Face', cursive;
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1300%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1301)'%3e%3c/rect%3e%3cpath d='M1440 0L1303.98 0L1440 39.96z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1303.98 0L1440 39.96L1440 49.93L768.65 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M768.65 0L1440 49.93L1440 333.98L730.96 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M730.96 0L1440 333.98L1440 398.73L521.9300000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L560.13 560L0 358.3z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 358.3L560.13 560L849.25 560L0 207.46z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 207.46000000000004L849.25 560L886.16 560L0 108.42000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 108.42000000000002L886.16 560L1075.98 560L0 87.92000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1300'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1301'%3e%3cstop stop-color='rgba(14%2c 71%2c 25%2c 1)' offset='0.18'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 214%2c 52%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game{
  padding-top: 30px;
}

